{% extends "base.html" %}
{% load static %}


{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Blogs</h2>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Blog</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 posts-list">

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/pregnacy.avif' %}" alt="" class="img-fluid">
              </div>

              <p class="post-category">Pregnancy Care (Antenatal & Postnatal)</p>

              <h2 class="title">
                <a href="">Understanding Pregnancy Care: What to Expect.</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="{% static 'assets/img/blog/pregnacy.avif' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author-list">Dr Jackie Mulunda</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jan 1, 2025</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/menstraul.avif' %}" alt="" class="img-fluid">
              </div>

              <p class="post-category">Menstrual Disorders</p>

              <h2 class="title">
                <a href="blog-details.html">Managing Menstrual Health and Disorders</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="{% static 'assets/img/blog/menstraul.avif' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author-list">Dr Jackie Mulunda</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 5, 2025</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/checkup.webp' %}" alt="" class="img-fluid">
              </div>

              <p class="post-category">General Women’s Health Checkups</p>

              <h2 class="title">
                <a href="blog-details.html">Importance of Regular Women's Health Screenings</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="{% static 'assets/img/blog/' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author-list">Dr Jackie Mulunda</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 22, 2025</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          


        <div class="blog-pagination">
          <ul class="justify-content-center">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div><!-- End blog pagination -->

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

{% endblock content %}